<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/mac/360云盘/GZ_chenfan/projects/IOS正式项目/OrderManage/OrderMange_OC_v1.2.2/OrderManage/OrderManage.xcodeproj</string>
</dict>
</plist>
